#contentEditable{
  clear: both;  
  min-width: 400px;
  min-height: 220px;
  font-size: 130%;
  padding: 0.5em 1em;
  margin: 10px;
  border: solid 1px #575757;
}
#search{
  margin:  5px;
  float: left;
  margin-right: 20px;
}
#searchCount{
  margin-left: 15px;
  font-size: 130%;
}

#valueCount{
  margin: 5px;
  text-align: right;
  font-size: 130%;
}
.form-inline{
  margin: auto;
  margin-left: 5px; 
  margin-right: 5px;
}
#filename ,#text{
  float: left; 
}
#text{
  font-size: 100%; 
}
#textSaveButton{
  float: right;
}



.btn.btn-secondary.tabs {
  background-color: #e0e0e0;      /*タブ　非選択状態　背景色：灰色*/
}

.btn.btn-secondary.tabs.selecting{
  background-color: #428bca;
}

/* タブにマウスポインタが載った際の動き */
.btn.btn-secondary.tabs:hover {
  color: rgb(0, 0, 0);            
  background-color: #80e7f5;   
  cursor: pointer;             
}

/* 選択状態のタブ */
input:checked + .btn.btn-secondary.tabs {
  color: red;                  /* タブの文字色*/
  background-color: #ffffcc;   /* タブの背景色 */
}

.nav.nav-tabs input { display: none; }