#contentEditable{
  clear: both;  
  min-width: 400px;
  min-height: 220px;
  font-size: 130%;
  padding: 0.5em 1em;
  margin: 10px;
  border: solid 1px #575757;
}
#search{
  margin:  5px;
  float: left;
  margin-right: 20px;
}
#searchCount{
  margin-left: 15px;
  font-size: 130%;
}

#valueCount{
  margin: 5px;
  text-align: right;
  font-size: 130%;
}
.form-inline{
  margin: auto;
  margin-left: 5px; 
  margin-right: 5px;
}
#filename ,#text{
  float: left; 
}
#text{
  font-size: 100%; 
}
#textSaveButton{
  float: right;
}

