#contentEditable{
  clear: both;  
  min-width: 400px;
  min-height: 220px;
  font-size: 130%;
  padding: 0.5em 1em;
  margin: 10px;
  border: solid 1px #575757;
}
#search{
  margin:  5px;
  float: left;
  margin-right: 20px;
}
#searchCount{
  margin-left: 15px;
  font-size: 130%;
}

#valueCount{
  margin: 5px;
  text-align: right;
  font-size: 130%;
}
.form-inline{
  margin: auto;
  margin-left: 5px; 
  margin-right: 5px;
}
#filename ,#text{
  float: left; 
}
#text{
  font-size: 100%; 
}
#textSaveButton{
  float: right;
}



.btn.btn-secondary.tabs {
  background-color: #e0e0e0;      /*タブの(非選択状態の)背景色：灰色*/
}

.btn.btn-secondary.tabs.selecting{
  background-color: #428bca;
}

/* ▼タブにマウスポインタが載った際の装飾 */
.btn.btn-secondary.tabs:hover {
  color: rgb(0, 0, 0);                /* タブの文字色：緑色 */
  background-color: #80e7f5;   /* タブの背景色：淡い緑色 */
  cursor: pointer;             /* マウスポインタの形状を「指(指し示す形)」にする */
}

/* ▼選択状態のタブ(＝チェックが入っているラジオボタンの隣にあるタブの装飾) */
input:checked + .btn.btn-secondary.tabs {
  color: red;                  /* タブの文字色：赤色 */
  background-color: #ffffcc;   /* タブの背景色：淡い黄色 */
}

.nav.nav-tabs input { display: none; }